body {
      background: #3F72AF;
      box-sizing: border-box;
      margin: 10px;
      padding: 10px;
}
* {
      font-family: 'Nunito', sans-serif;
}

.todo__container {
      max-width: 600px;
      min-height: 150px;
      background: white;
      border-radius: 5px;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
      margin: 0px auto;
      box-sizing: border-box;
      padding: 10px;
}

h1 {
      font-size: 40px;
      font-weight: 400;
      line-height: 40px;
      color: #112D4E;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.add-new-thing {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin: 20px auto;
      background: #DBE2EF;
      border: 0px solid rgba(177, 177, 177, 0.4);
      border-radius: 5px;
}

#newThing {
      height: 32px;
      width: 205px;
      border: none;
      background: #DBE2EF;
      border-radius: 5px 0px 0px 5px;
}
button {
      height: 39px;
      border: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background: #3F72AF;
      border-radius: 0px 5px 5px 0px;
      color: white;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      transition: all 0.3s;
}
button:hover {
      background: #39659b;
}
p {
      color: #112D4E;
      font-size: 28px;
      margin: 10px 10px;
      padding-left: 8px;
      background: #DBE2EF;
}

#tasks {
      font-size: 20px;
      color: #112D4E;
      border-top: 1px solid #39659b;
}
.add:active, :hover, :focus {
      outline: 0;
      outline-offset: 0;
}